benches                            @syrusakbary
examples                           @Hywan @jubianchi
fuzz                               @syrusakbary
lib/api                            @syrusakbary @Hywan @MarkMcCaskey
lib/c-api                          @Hywan @MarkMcCaskey @jubianchi
lib/cache                          @syrusakbary @Hywan
lib/cli                            @syrusakbary @MarkMcCaskey
lib/compiler                       @syrusakbary @nlewycky @losfair @Hywan @MarkMcCaskey
lib/compiler-cranelift             @nlewycky @syrusakbary
lib/compiler-llvm                  @nlewycky @losfair
lib/compiler-singlepass            @losfair @nlewycky
lib/deprecated                     @Hywan @MarkMcCaskey
lib/emscripten                     @MarkMcCaskey
lib/engine                         @syrusakbary @MarkMcCaskey @Hywan
lib/engine-jit                     @syrusakbary @MarkMcCaskey @Hywan
lib/engine-native                  @syrusakbary @MarkMcCaskey @Hywan
lib/engine-object-file             @syrusakbary @MarkMcCaskey @Hywan
lib/object                         @syrusakbary @nlewycky
lib/vm                             @syrusakbary @nlewycky @MarkMcCaskey
lib/wasi                           @MarkMcCaskey
lib/wasi-experimental-io-devices   @MarkMcCaskey
lib/wasmer-types                   @syrusakbary @Hywan
scripts                            @syrusakbary
tests                              @MarkMcCaskey