benches                            @syrusakbary
examples                           @Hywan
fuzz                               @syrusakbary
lib/api                            @syrusakbary @Hywan
lib/c-api                          @Hywan
lib/cache                          @syrusakbary @Hywan
lib/cli                            @syrusakbary
lib/compiler                       @syrusakbary @Hywan
lib/compiler-cranelift             @syrusakbary
lib/compiler-llvm                  @Hywan
lib/compiler-singlepass            @syrusakbary
lib/deprecated                     @Hywan
lib/emscripten                     @Hywan
lib/engine                         @syrusakbary @Hywan
lib/engine-jit                     @syrusakbary @Hywan
lib/engine-native                  @syrusakbary @Hywan
lib/engine-object-file             @syrusakbary @Hywan
lib/object                         @syrusakbary
lib/vm                             @syrusakbary @Hywan
lib/wasi                           @Hywan
lib/wasmer-types                   @syrusakbary @Hywan
scripts                            @syrusakbary
tests                              @Hywan
