[submodule "tests/wast/spec"]
	path = tests/wast/spec
	url = https://github.com/WebAssembly/testsuite.git
[submodule "lib/napi"]
	path = lib/napi
	url = https://github.com/wasmerio/napi
[submodule "wasmer-test-files"]
	path = wasmer-test-files
	url = https://github.com/wasmerio/wasmer-test-files.git
