[package]
name = "vfs-overlay"
authors.workspace = true
edition.workspace = true
homepage.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[dependencies]
smallvec.workspace = true
vfs-core = { path = "../core" }

[dev-dependencies]
vfs-mem = { path = "../mem" }
