<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DylibExample.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>63CD62BF26C9492100424C7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63CD62D526C9492400424C7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>63CD62E026C9492400424C7A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
