CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
test-globals
test-exports
test-instantiate
test-import-function
test-memory
test-module
test-tables
test-validate
rust-build