# ignore wasm-c-api binaries
wasm-c-api-*
test-*
wasm-c-api/example/*

# Unignore files ending with `.c` (i.e. `wasm-c-api-wasi.c`)
!*.c
!wasm-c-api/example/*.c
!wasm-c-api/example/*.cc
!wasm-c-api/example/*.wasm
!wasm-c-api/example/*.wat
